<div class="login-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Trocar Senha🔒</mat-card-title>
        </mat-card-header>

        <mat-card-content class="card-content">
            <form (ngSubmit)="changePassword()" #form="ngForm">
                <mat-form-field appearance="fill" style="width:100%">
                <mat-label>Nova senha</mat-label>
                <input matInput type="password" [(ngModel)]="changePasswordRequest.newPassword" name="password" required>
                </mat-form-field>
                <mat-form-field appearance="fill" style="width:100%">
                <mat-label>Confirmar senha</mat-label>
                <input matInput type="password" [(ngModel)]="changePasswordRequest.confirmPassword" name="confirmPassword" required>
                </mat-form-field>
                @if(error()) {
                    <mat-hint class="error-msg">{{ error() }}</mat-hint>
                }
                <button 
                    mat-raised-button 
                    color="primary" 
                    type="submit" 
                    [disabled]="loading()">
                    @if (loading()) {
                        Carregando...
                    } @else {
                        Trocar senha
                    }
                </button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
